<% provide(:title, 'Computer repair') %>
</div>
<div id="footer">
	<p><strong>PC Protegon tietokonepalvelut</strong> tarkoittavat monipuolista teknistä tukea vakoiluohjelmistojen poistamisesta aina uuden käyttöjärjestelmän asentamiseen.<br>
Kiinteä tarjoushintamme useimmista seuraavassa kuvatuista palveluista on <strong>50 euroa</strong>.<br> Joidenkin palvelujen toteuttaminen edellyttää tilanteen arviointia annettujen tietojen perusteella, jolloin tarjoamme hinnan tilanteen mukaan.  </p> 
	
	
 </div>
<div id="three-column" class="container">
		<div id="tbox1">
			<div class="box-style">
	
				<div class="arrow"></div>
				<div class="content">
					<h3>Tietokoneen vianmääritys</h3>
					<p> Tietokoneen tutkiminen ja analysoiminen ongelman perussyyn selvittämiseksi. </p>
					<h4>Laitteiston ja ohjelmiston vianmääritys</h4>
					<h3>Tietokoneen suojaus</h3>
					<p>Puhdistamme ja poistamme virusten tai vakoiluohjelmistojen saastuttamat tiedostot, minkä jälkeen pääset jatkamaan töitäsi.</p>
					<h4>Virusten ja vakoiluohjelmistojen poisto</h4>
					<h3>Tietokoneita koskeva neuvonta</h3>
					<p>Opastamme sinua uuden tietokoneen ostamisessa tai olemassa olevan tietokoneen päivittämisessä.  Ehdotamme ihannekokoonpanoa käyttötarpeiden mukaan ja autamme käyttöönotossa.</p>
					<h3> Siirtyminen tietokoneesta toiseen  </h3>
					<p> Autamme sinua siirtymään helposti PC:stä PC:hen, PC:stä Maciin, Macista PC:hen tai Macista Maciin.</p>
					<br>
					<br>
					<br>
					
								
				</div>
			</div>
		</div>
				
		<div id="tbox2">
			<div class="box-style">
	
				<div class="arrow"></div>
				<div class="content">
					 <h3>Tietokoneiden asennus ja päivitys</h3>
					 <p>Voimme konfiguroida tietokoneesi niin, että saat siitä parhaan hyödyn. Samalla varmistamme, että tietokoneesi on turvallinen ja suojattu jokapäiväisessä käytössä. Näin vähennetään seisokkiaikoja ja tietojen häviämistä. Voimme myös auttaa sinua päivittämään tietokoneesi, jos haluat ottaa käyttöön uusia komponentteja, kuten tulostimen tai suuremman näytön.</p>
					 <h4>Tietokoneasennus</h4>
					 <h4>Laiteasennus</h4>
					 <h4>Ohjelmistoasennus</h4>
					 <h4>Verkkoasennus</h4>
					 <h4>Ohjelmiston, laitteiston ja käyttöjärjestelmän päivitys</h4>
					 <h3>Tietokoneen viritys</h3>
					 <p>Voimme parantaa tietokoneesi nopeutta ja suorituskykyä. </p>
					 
					  <h3>Käyttöjärjestelmän asennus</h3>
<p> Voimme asentaa uuden käyttöjärjestelmän puolestasi.</p>

        			</div>
			</div>
		</div>
		<div id="tbox3">
			<div class="box-style">

				<div class="arrow"></div>
				<div class="content">
					<h3>Tietokoneiden korjaus</h3>
					<p>Voimme korjata tietokoneiden laitteisto- ja ohjelmisto-ongelmia.  </p>
					<h4>Pikatarkistus</h4>
					
					<p>Järjestelmän keskeisten osien tarkistus (keskusyksikkö, kiintolevy ja käyttöjärjestelmä)<br>
					   Tarpeettomien tiedostojen poisto<br>
					   Kiintolevyn puhdistus</p>
					<h4>Perustason korjaus</h4>
					
					<p>Tietokoneen kaikkien osien tarkistus<br>
					   Tietokoneen tietoturvan tarkistus<br>
					   Internet-asetusten tarkistus<br>
					   Kiintolevyn puhdistus poistamalla tarpeettomat tiedostot<br>
					   Kiintolevyn eheytys</p>
					   <h4> Edistynyt korjaus</h4>
					   <p>Arvioimme tilanteen ja etsimme oikean ratkaisun tietokoneen ongelman mukaan.</p> 
					   <br>
					   
					   
				</div>
				</div>
			</div>
	</div>
</div>
