<footer>
</div>
<div id="footer-content" class="container">
	<div id="footer-bg">
		<div id="column1">
			<h2>Keitä olemme?</h2>
			<p>PC Protego on tukiyritys, joka tarjoaa teknisiä tietokonepalveluja asiakkaan tiloissa. Palvelumme on <strong>nopeaa, tehokasta ja ystävällistä</strong>. Tukisuunnitelmamme tuovat sinulle mielenrauhaa, jos asiat menevät pieleen, ja mahdollisuuden välttää<strong> tietokonekohtaiset vuosimaksut</strong>.
Palvelumme korkean laadun varmistamme käyttämällä <strong>asianmukaisia työkaluja ja sovelluksia.</strong><br />
			</p>
		</div>
		<div id="column2">
			<h2>Miksi valita meidät?</h2>
			<strong>Kiinteä hinta -</strong> Maksat kiinteän hinnan riippumatta siitä, kuinka kauan tehtävän suorittaminen kestää.<br>
					 <strong>Takuu työlle -</strong> Tietokoneiden korjaustoimenpiteille tarjoamme 30 päivän takuun: jos ongelma jostakin syystä toistuu 30 päivän kuluessa, korjaamme sen veloituksetta.
					 
					 <br><strong> Maksat, jos pystymme korjaamaan tietokoneesi -</strong> Jos emme pysty korjaamaan ongelmaa, emme veloita sinulta mitään.<br>
					<strong>Maksat, kun tietokoneesi on korjattu -</strong> Sinun <strong> ei tarvitse </strong> maksaa vuosittaista huoltomaksua jokaisesta tietokoneestasi. Riittää, kun maksat tietokoneen korjaamisesta <strong>kertamaksun</strong>.
					</div>
		<div id="column3">
			<h2>Yhteystiedot </h2>
			<p>Haluamme kuulla sinusta. Ota yhteyttä, jos sinulla on kysyttävää palveluistamme. Tavoitat meidät osoitteesta: <br>

Y-tunnus: 2521348-3  <br>
Palvelemme: joka päivä klo 9–18 
			</p>
		</div>
		
	</div>
</div>
<div id="footer">
	<p>© 2012 Untitled Inc. All rights reserved. Lorem ipsum dolor sit amet nullam blandit consequat phasellus etiam lorem. Design by <a href="http://www.freecsstemplates.org">FCT</a>.  Photos by <a href="http://fotogrph.com/">Fotogrph</a>.<br> Converted by PcProtego- A computer repair service company</p>
</div>
</footer>
